@media screen and (max-width:1024px) and (orientation: landscape){
    #message{
        display: none;
    }
    .wrapper{
        width: 100vw;
        height: 100vh;
    }
    h1 { 
        font-size: 2em!important;
    }
    h2 {
        font-size: 1.5em!important;
    }
    h3 {
        font-size: 1.17em!important;
    }
    button{
        border-radius: 10px!important;
        font-size: 1.1em!important;
    }
    #hDice,
    #rDice, #new-game button{
        font-size: 1rem!important;
        margin: 0;
        padding: 0;
    }
    .active{
        background:lightblue;
    height: 100%;
    width: 100%;
    margin: 0;
    color: rgb(242, 19, 205);
    }
    #result{
        margin-left: auto;
        margin-right: auto;
        margin-top: auto;
    }
}
@media (max-width: 1024px) and (orientation: portrait){
    *{
        margin: 0;
        padding: 0;
    }
    body,html{
        margin: 0;
        padding: 0;
    
    }
    button,div,h1,h2,h3{
        display: none;
    }
    #message,
    #message h1{
        display: block!important;
        position: absolute;
        top: 0;
        left: 0;
        color: black;
        font-family: 'Lato', sans-serif;
    }
    .rectangle{
        height: 100px;
        width: 200px;
        border: 2px solid teal;
        display: inline-flex;
        border-radius: 15% ;
        animation: 1.9s infinite alternate anim;
        position: relative;
        top: 150px;
    }
    @keyframes anim {
        from { transform: rotateZ(90deg); }
        to   { transform: rotateZ(0deg); }
      }
}