@media (min-width: 576px) and (max-width:767px) and (orientation: portrait){
    h1 { font-size: 2em; }
    h2 { font-size: 1.5em; }
    h3 { font-size: 1.17em; }
        #hDice,
        #rDice,
        #new-game button{
    margin: 1% 0;
    width: auto;
}
