*{
    font-family: 'Lato', sans-serif;
    text-align: center;
}
.active{
    background:lightblue;
}
#result{
    height: 25%;
}
#result img{
    width: 50%;
    margin-top: 3%;
}
#player1,#player2{
    height: 15%;
}
.global,.current{
    height: 25%;
}