*{
    font-family: 'Lato', sans-serif;
    text-align: center;
}
body{
    margin: 0;
    padding: 0;
    background-color: lightblue!important;
}
.wrapper{
    width: 100%;
    height: 100%;
}
#new-game{
    height: 10vh;
}
#new-game button{
    margin-left: 40vw;
    width: 20vw;
    border: 1px solid black;
    padding: 3px;
}
#show-players{
    height: 20vh;
    margin: 2vh 0;
}
#actual-score{
    height: 35vh;
}
#actualScorePlayer1,
#actualScorePlayer2,
#currentScorePlayer1,
#currentScorePlayer2{
    font-size: 88px;
}
#current-score{
    height: 30vh;
}